<div class="row">
    <div class="col-lg-6">
        <h1>Inserisci carta</h1>
        <form [formGroup]="insertCardForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Descrizione carta</label>
                <input formControlName="name" autocomplete="off" type="text" class="form-control" id="nameCard"
                    aria-describedby="cardNameHelp" placeholder="Carta esempio">
                <small id="cardNameHelp" class="form-text text-muted">Scrivi tutto in piccolo</small>
                <small
                    *ngIf="insertCardForm.controls['name'].errors?.required && (insertCardForm.controls['name'].dirty || insertCardForm.controls['name'].touched) "
                    id="cardPictureHelpInvalid" class="form-text  text-danger">Campo richiesto</small>
                <small
                    *ngIf="insertCardForm.controls['name'].errors?.minlength && (insertCardForm.controls['name'].dirty || insertCardForm.controls['name'].touched)"
                    id="cardPictureHelpInvalid" class="form-text  text-danger">La lunghezza minima del nome deve essere
                    di 3 caratteri</small>

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Nome file carta</label>
                <input formControlName="picture" autocomplete="off" type="text" class="form-control" id="pictureCard"
                    ria-describedby="cardPictureHelp" placeholder="esempio1.jpg">
                <small id="cardPictureHelp" class="form-text text-muted">Inserisci il nome dell'immagine e la sua
                    estensione (jpg, jpeg, png)</small>
                <small
                    *ngIf="insertCardForm.controls['picture'].errors?.required && (insertCardForm.controls['picture'].dirty || insertCardForm.controls['picture'].touched)"
                    id="cardPictureHelpInvalid" class="form-text text-danger">Campo richiesto</small>
                <small
                    *ngIf="insertCardForm.controls['picture'].errors?.minlength && (insertCardForm.controls['picture'].dirty || insertCardForm.controls['picture'].touched)"
                    id="cardPictureHelpInvalid" class="form-text text-danger">La lunghezza minima della carta deve
                    essere di 4 caratteri</small>
                <small
                    *ngIf="insertCardForm.controls['picture'].errors?.pattern && (insertCardForm.controls['picture'].dirty || insertCardForm.controls['picture'].touched)"
                    id="cardPictureHelpInvalid" class="form-text text-danger">Il nome deve terminare con .jpg, .jpeg o
                    .png</small>

            </div>
            <button *ngIf="!cardSent" [disabled]="insertCardForm.invalid" (click)="insertCard()" type="submit"
                class="btn btn-primary">Aggiungi</button>
            <button *ngIf="cardSent" class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Aggiungo...
            </button>
            <small *ngIf="cardInserted && buttonClicked" id="cardInsertedHelpSuccess"
                class="form-text text-success">Carta inserita</small>
            <small *ngIf="cardInserted != undefined && !cardInserted && buttonClicked" id="cardInsertedHelpFail"
                class="form-text text-danger">Carta non inserita</small>

        </form>
    </div>
</div>