<div class="row">
    <div class="col-md-6 col-lg-6">
        <form [formGroup]="createMatchForm">
            <div class="form-group">
                <label for="match-name">Inserisci nome match</label>
                <input formControlName="name" type="text" class="form-control" id="match-name" aria-describedby="match-nameHelp" placeholder="Inserisci nome match">
                <small id="match-nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="n-players">Inserisci numero di giocatori</label>
                <input formControlName="expectedPlayers" type="number" class="form-control" id="n-players" placeholder="N. giocatori">
            </div>
            <button (click)="createMatch()" type="submit" class="btn btn-primary">Inizia a giocare!</button>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 center">
        <p>Oppue</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6">
        <form [formGroup]="joinMatchForm">
            <div class="form-group formgroup-joinmatch">
                <label for="match-name-join">Inserisci nome match</label>
                <input formControlName="name" type="text" class="form-control" id="match-name-join" aria-describedby="match-name-joinHelp" placeholder="Inserisci nome match">
            </div>
            <button type="submit" (click)="joinMatch()" class="btn btn-primary">Unisciti al match</button>
        </form>

    </div>
</div>