<div class="row">
    <div class="col-md-12">
        <button (click)="readyToPlay()"> Pronto a giocare</button>


    </div>
</div>

<div class="row">
    <div class="col-md-3 col-lg-3">
        <h2>Dati</h2>

            User: {{User.username}} <span *ngIf="User.username == Match.narrator.username">You are the narrator</span>
        
      
            Match: {{Match.name}} 

            Points: {{User.score}}
       
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-lg-3">
        <h2>Mie carte</h2>

        <div class="alert alert-dark" role="alert" *ngFor="let cardinHand of CardsInHand" (click)="addCardOnTable(cardinHand)">
            <span> {{cardinHand.name}} </span>
          </div>
    </div>
</div>

<div class="row">
  
    <div class="col-md-3">
        <h2>Carte sul tavolo</h2>
    
        <div class="alert alert-dark" role="alert" *ngFor="let cardOnTable of CardsOnTable">
    
            <span (click)="selectCard(cardOnTable)" *ngIf="revealCards">
                {{cardOnTable.name}}
            </span>

            <span *ngIf="!revealCards">Carta coperta</span>
        </div>
    </div>

</div>